html, body {
  min-width:320px;
  height: 100%;
  line-height:0;
  color: #fff;
  -webkit-text-size-adjust: none;
  padding:0;
  margin:0;
  background:#c2c2c2;
  padding:10px 0;
}
footer {
  color:#eee;
  cursor:inherit;
}
#content {
  width:382px;
  height:800px;
}
#screen {
  position:absolute;
  left:33px;
  top:114px;
}
